/** MAIN **/

body {
    margin: 0 auto;
}

h1, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900 !important;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

/** NAVBAR **/

.navbar a {
    color: #f2f2f2 !important;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.navbar {
    position: absolute;
    top: 50px;
}

span {
    margin-left: 25px;
    position: absolute;
    top: 35px;
}

.navbar-trans {
    background: transparent;
}

.navbar-nav a {
    margin-left: 50px !important;
    transition: all .2s ease-in-out;
}

.navbar-nav a:hover {
    text-decoration: underline;
    transition: 0.3s;
    transform: scale(1.1); 
}

/** MAIN BOX **/

#topDiv {
    margin: 0;
    height: 780px;
    background-image: url("../img/stars2.jpg");
    background-size: cover;
}

#danImg {
    border-radius: 50%;
    height: 250px;
    margin-left: 100px;
    border: 5px solid black;
} 

#aboutDiv {
    color: #f2f2f2;
    margin-top: 150px;
}

#aboutText {
    margin-top: 80px;
    font-weight: 700;
}

/** HOOK TEXT **/

#hookTextDiv {
    height: 75px;
    text-align: center;
    margin-left: 50px;
    padding-top: 12px;
    border-radius: 15px;
    -moz-border-radius: 15px;
}

#hookTextDiv h1 {
    font-weight: 700;
}

#hookTextDiv i {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 1.2em;
    text-align: center;
    transition: 0.3s;
}

#hookTextDiv i:hover {
    transition: 0.3s;
    transform: scale(1.6); 
    cursor: pointer;
}

/**PORTFOLIO**/

.portfolio {
    border-radius: 2%;
    padding-top: 30px;
    padding-bottom: 50px;
    box-shadow: 5px 5px #c6c6c6, 10px 10px #969696, 15px 15px #565656;
}

#portSec {
    overflow: hidden;
    width: 100%;
    background-image: url("../img/bluestars.jpg");
    background-size: cover;
}

#portContainer {
    color: #fff;
    margin: 0 auto;
    width: 75%;
    border-radius: 2%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    margin-bottom: 40px;
    background: rgb(0,17,89);
    background: linear-gradient(0deg, rgba(0,17,89,1) 0%, rgba(0,0,0,1) 0%, rgba(0,17,99,1) 100%);
}

#portContainer h1 {
    margin-bottom: 35px;
}

.card-img-top {
    border: none;
}

.portCards {
    margin-bottom: 70px;
}

.card-body {
    color: white;
    background: rgb(0,17,89);
    padding-bottom: 50px; 
}

.portCards .card {
    border: none;
}



/** CONTACT **/

#contactSec {
    height: 600px;
    color: white;
    text-align: center;
    background-image: url("../img/bluestars2.png");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
}

#contactSec h1 {
    padding-top: 50px;
}

#contactSec h3 {
    margin-top: 30px;
}

/** FOOTER **/

footer {
    height: 200px;
    background: #00235b;
    color: white;
}

#copyDiv {
    padding: 0;
    text-align: center;
}

#icons {
    margin-top: 25px;
    font-size: 50px;
}

footer a {
    color: white;
    position: relative;
    top: 10px;
    transition: 0.3s;
}

footer a:hover {
    color: lightblue;
    font-size: 1.3em;
    transition: 0.3s;
}

.fa-linkedin-square {
    padding-left: 20px;
}

.fa-envelope-square {
    padding-left: 20px;
}

#icons i {
    transition: 0.3s;
}

#icons i:hover {
    transition: 0.3s;
    transform: scale(1.6); 
    cursor: pointer;
}